<div class="row" [formGroup]="userForm">
    <div class="col-6 form-group">
        <label class="col-form-label" for="name">Name</label>
        <input type="text" id="name" class="form-control"  (blur)="onFormFieldLeave($event)" formControlName="name"/>
    </div>
    <div class="col-6 form-group">
        <label for="email">Email</label>
        <input type="email" id="email" class="form-control"  (blur)="onFormFieldLeave($event)" formControlName="email"/>
    </div>
</div>

