
<h1>Decorator Example</h1>
<!--<p>The value of the variable is: {{ randomNumber || 'NaN' }}</p>-->

<div class="card">
    <h2>User</h2>
    <app-user-form></app-user-form>
</div>

<div class="card">
    <h2>Favorite Band</h2>
    <app-fave-band></app-fave-band>
</div>

<button (click)="storeFormData($event)" [disabled]="!permitStoringForm">Save Data</button>
<button (click)="clearFormContent()">Clear Form</button>

<!--<pre>{{ aggregateData | json }}</pre>-->


