<div class="row" [formGroup]="bandForm">
    <div class="col-6 form-group">
        <label class="col-form-label" for="name">Name</label>
        <input type="text" id="name" class="form-control"
               (blur)="onFormFieldLeave($event)"
               formControlName="name"/>
    </div>
    <div class="col-6 form-group">
        <label for="style">Style</label>
        <select id="style" id="style" class="form-control"
                (change)="onFormFieldLeave($event)"
                formControlName="style">
            <option [value]="''">- None -</option>
            <option [value]="'rock'">Rock</option>
            <option [value]="'pop'">Pop</option>
            <option [value]="'classic'">Classic</option>
        </select>
    </div>
</div>
